<div class="modal fade" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Recuperar Contraseña</h5>
                <button id="cmdCerrar" type="button" class="close" data-dismiss="modal"><span
                        aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div id="mensajeError" class="alert alert-danger px-6 py-6" style="display: none;"></div>
                    <div id="mensajeExito" class="alert alert-success" style="display: none;"></div>
    
                    <div class="form-row">
                        <div class="col-8">
                            <div class="form-group bmd-form-group py-3 px-3">
                                <div class="input-group">
                                    <div class="input-group">
                                        <input id="edUsuario" type="text" class="form-control"
                                            placeholder="Ingresa tu nombre de usuario">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

               
                </form>
            </div>

  
            <div class="modal-footer">
                <button id="cmdOk" class="btn btn-primary mr-2" type="button">Enviar</button>
                <button id="cmdCancel" class="btn btn-secondary" type="button">Cerrar</button>
            </div>
        </div>
    </div>
</div>