<div class ="container" style="text-align:center">
    <img src=".././assets/img/merval.png"  style="width :40%;">
    <img src=".././assets/img/descarga.png"  style="width :115%; padding-top :20px; padding-right: 60px;">
</div>