<div class="container-fluid">
  <h4 id="lblSubTituloPagina" class="m-0 font-weight-bold text-primary">DataTables Example</h4>
  <p class="mb-4"></a></p>
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Búsqueda</h6>
    </div>
    <div class="card-body">
      <div class="form-horizontal ">
        <div class="container px-0 py-0 my-0 mx-0">
          <div class="form-group row">
            <div class="col-sm-2 mb-2 mb-sm-0">
              <label for="edFecha" class="col-sm-6 col-form-label">Fecha</label>
            </div>
            <div class="col-sm-3 mb-2 mb-sm-0">
              <div class="input-group  ">
                <input id="edFecha" type="text" class="datetimepicker form-control text-right pr-2">
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                </div>
              </div>
            </div>

            <div class="col-sm-3 mb-2 mb-sm-0">
              <label for="edFecha" class="col-sm-6 col-form-label">Locales</label>
            </div>
            <div class="col-sm-3 mb-2 mb-sm-0">
              <select id="edLocales" class="ml-2 custom-select custom-select-sm" data-z-id-field="codigo"
                data-z-label-field="nombre"></select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-center pt-2 pb-2">
      <button id="cmdBuscarTbk" type="button" class="btn btn-primary btn-icon-split" data-toggle="button"
        aria-pressed="false">
        <span class="icon text-white-50">
          <i class="fas fa-search"></i>
        </span>
        <span class="text text-white">Buscar Información</span>
      </button>
    </div>
  </div>


  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">System Example</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive  w-100 mt-4">
        <table id="lista" data-z-table="true" class="table table-bordered mx-auto" data-z-edit="false"
          data-z-page-details="detalle-lista" data-z-pager="paginador-lista" style="font-size:80%; width: 100%;">
          <thead>
            <tr class="tr-header-custom text-secondary">
              <th data-z-col="periodo" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1"
                data-z-editable="true" data-z-columna-titulo="true">Período</th>
              <th data-z-col="fechaVenta" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1"
                data-z-columna-titulo="true">Fecha Venta</th>
              <th data-z-col="nombreLocal" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1"
                data-z-columna-titulo="true">Nombre Local</th>
              <th data-z-col="montoAfecto" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1"
                data-z-columna-titulo="true">Monto Afecto</th>
              <th data-z-col="montoExcento" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1"
                data-z-columna-titulo="true">Monto Excento</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
      <hr>
    </div>
  </div>
</div>

  <!-- Footer -->
  <footer class="sticky-footer bg-white">
    <div class="container my-auto">
      <div class="copyright text-center my-auto">
        <span>Copyright &copy; Sistema Conciliación 2020</span>
      </div>
    </div>
  </footer>
  <!-- End of Footer -->
  
  </div>