<div class="container-fluid">
    <h4 id="lblSubTituloPagina" class="m-0 font-weight-bold text-primary">DataTables Example</h4>
    <p class="mb-4"></a></p>
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Búsqueda</h6>
      </div>
      <div class="card-body">
        <div class="form-horizontal ">
          <div class="container px-0 py-0 my-0 mx-0">
            <div class="form-group row">
              <div class="col-sm-2 mb-2 mb-sm-0">
                <label for="edFecha" class="col-sm-6 col-form-label">Fecha</label>
              </div>
              <div class="col-sm-3 mb-2 mb-sm-0">
                <div class="input-group  ">
                  <input id="edFecha" type="text" class="datetimepicker form-control text-right pr-2">
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="row d-flex justify-content-center pt-2 pb-2">
        <button id="cmdBuscarTbk" type="button" class="btn btn-primary btn-icon-split" data-toggle="button"
          aria-pressed="false">
          <span class="icon text-white-50">
            <i class="fas fa-search"></i>
          </span>
          <span class="text text-white">Buscar Información</span>
        </button>
      </div>
    </div>
  
  
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">System Example</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive  w-100 mt-4">
          <table id="lista" data-z-table="true" class="table table-bordered mx-auto" data-z-edit="false"
            data-z-page-details="detalle-lista" data-z-pager="paginador-lista" style="font-size:80%; width: 100%;">
            <thead>
              <tr class="tr-header-custom text-secondary">
                <th data-z-field="tipo" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1"
                  data-z-editable="true" data-z-columna-titulo="true">Tipo</th>
                <th data-z-field="estacion" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1"
                  data-z-columna-titulo="true">Estación</th>
                <th data-z-field="pos" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1"
                  data-z-columna-titulo="true">POS</th>
                <th data-z-field="cargaEfectivo" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1"
                  data-z-columna-titulo="true">Carga Efectivo</th>
                <th data-z-field="cantidadDebito" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1"
                  data-z-columna-titulo="true">Cantidad Débito</th>
                <th data-z-field="cargaDebito" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1"
                  data-z-columna-titulo="true">Carga Débito</th>
                <th data-z-field="cargaCredito" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1"
                  data-z-columna-titulo="true">Carga Crédito</th>
                <th data-z-field="anulacionEfectivo" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1"
                  data-z-columna-titulo="true">Anulación Efectivo</th>
                <th data-z-field="anulacionCredito" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1"
                  data-z-columna-titulo="true">Anulación Crédito</th>
                <th data-z-field="anulacioDebito" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1"
                  data-z-columna-titulo="true">Anulación Débito</th>
                <th data-z-field="emisionEfectivo" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1"
                  data-z-columna-titulo="true">Emisión Efectivo</th>
                <th data-z-field="emisionDebito" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1"
                  data-z-columna-titulo="true">Emisión Débito</th>
                <th data-z-field="emisionCredito" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1"
                  data-z-columna-titulo="true">Emisión Crédito</th>
                <th data-z-field="tituloEfectivo" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1"
                  data-z-columna-titulo="true">Titulo Efectivo</th>
                <th data-z-field="tituloCredito" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1"
                  data-z-columna-titulo="true">Titulo Crédito</th>
                <th data-z-field="tituloDebito" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1"
                  data-z-columna-titulo="true">Titulo Débito</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
        <hr>
      </div>
    </div>
  </div>
  
  
  
  
  
    <!-- Footer -->
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; Sistema Conciliación 2020</span>
        </div>
      </div>
    </footer>
    <!-- End of Footer -->
  
  </div>