<div class="container-fluid">
  <h4 id="lblSubTituloPagina" class="m-0 font-weight-bold text-primary">DataTables Example</h4>
  <p class="mb-4"></a></p>
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Búsqueda</h6>
    </div>
    <div class="card-body">
      <div class="form-horizontal ">
        <div class="container px-0 py-0 my-0 mx-0">
          <div class="form-group row">
            <div class="col-sm-2 mb-2 mb-sm-0">
              <label for="edFecha" class="col-sm-6 col-form-label">Fecha</label>
            </div>
            <div class="col-sm-3 mb-2 mb-sm-0">
              <div class="input-group  ">
                
                <input id="edFecha" type="text" class="datetimepicker form-control text-right pr-2">
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-center pt-2 pb-2">
      <button id="cmdBuscarTbk" type="button" class="btn btn-primary btn-icon-split" data-toggle="button"
        aria-pressed="false">
        <span class="icon text-white-50">
          <i class="fas fa-search"></i>
        </span>
        <span class="text text-white">Buscar Información</span>
      </button>
    </div>
  </div>


  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">System Example</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive  w-100 mt-4">
        <table id="listaPos" data-z-table="true" class="table table-bordered mx-auto" data-z-pager="paginador-listaPos" style="font-size:80%; width: 100%;">
          <thead>
            <div class="row">
              <tr>
                <td colspan="6" style="text-align: center;">Recaudación En Efectivo</td>
                <td colspan="1" style="text-align: center;"></td>
                <td colspan="3" style="text-align: center;">Recaudación Tarjetas Bancarias</td>
                <td colspan="1" style="text-align: center;">Total Ventas Por Depositar </td>
                <td colspan="2" style="text-align: center;">Diferencia</td>
              </tr>
            </div>
            <tr class="tr-header-custom text-secondary">
              <th data-z-field="sesion" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1" data-z-editable="true" data-z-columna-titulo="true">ID SESION</th>
              <th data-z-field="fecha" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1" data-z-editable="true" data-z-columna-titulo="true">FECHA</th>
              <th data-z-field="rut" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1" data-z-editable="true" data-z-columna-titulo="true">RUT CAJERO</th>
              <th data-z-field="pos" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1" data-z-editable="true" data-z-columna-titulo="true">POS</th>
              <th data-z-field="idEstacion" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1" data-z-editable="true" data-z-columna-titulo="true">ID ESTACION</th>
              <th data-z-field="nombreEstacion" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1" data-z-editable="true" data-z-columna-titulo="true">NOMBRE ESTACION</th>
              <th data-z-field="apellidos" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1" data-z-editable="true" data-z-columna-titulo="true">APELLIDOS</th>
              <th data-z-field="nombre" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1" data-z-editable="true" data-z-columna-titulo="true">NOMBRE</th>
              <th data-z-field="nroEmisiones" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1" data-z-editable="true" data-z-columna-titulo="true">Nro EMISIONES</th>
              <th data-z-field="montoEmisiones" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1" data-z-editable="true" data-z-columna-titulo="true">MONTO EMISIONES</th>
              <th data-z-field="nroRecargas" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1" data-z-editable="true" data-z-columna-titulo="true">Nro RECARGAS</th>
              <th data-z-field="montoRecargas" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1" data-z-editable="true" data-z-columna-titulo="true">MONTO RECARGAS</th>
              <th data-z-field="nroTitulosDiarios" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1" data-z-editable="true" data-z-columna-titulo="true">Nro TITULOS DIARIOS</th>
              <th data-z-field="montoTitulosDiarios" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1" data-z-editable="true" data-z-columna-titulo="true">MONTO TITULOS ANUALES</th>
              <th data-z-field="nroTitulosAnuales" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1" data-z-editable="true" data-z-columna-titulo="true">Nro TITULOS ANUALES</th>
              <th data-z-field="montoTitulosAnuales" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1" data-z-editable="true" data-z-columna-titulo="true">MONTO TITULOS ANUALES</th>
              <th data-z-field="" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1" data-z-editable="true" data-z-columna-titulo="true">VACIO</th>
              <th data-z-field="" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1" data-z-editable="true" data-z-columna-titulo="true">VACIO</th>

              <!-- <th data-z-field="tipo" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1"
                data-z-editable="true" data-z-columna-titulo="true">Tipo</th>
              <th data-z-field="estacion" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1"
                data-z-columna-titulo="true">Estación</th>
              <th data-z-field="pos" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1"
                data-z-columna-titulo="true">POS</th>
              <th id="rut" data-z-field="rut" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1"
                data-z-columna-titulo="true">Rut</th>
              <th data-z-field="nombre" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1"
                data-z-columna-titulo="true">Nombre</th>
              <th data-z-field="montoDeposito" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1"
                data-z-columna-titulo="true">Monto Deposito</th>
              <th data-z-field="montoDeposito" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1"
               data-z-columna-titulo="true">Total En Efectivo</th>             
              <th data-z-field="cargaDebito" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1"
                data-z-columna-titulo="true">Carga Debito</th>
              <th data-z-field="cargaCredito" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1"
                data-z-columna-titulo="true">Carga Credito</th>
              <th data-z-field="totalcarga" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1"
                data-z-columna-titulo="true">Déb+Cred</th>
              <th data-z-field="ventaNeta" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1"
                data-z-columna-titulo="true">Venta Neta</th>
              <th data-z-field="diferencia" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1"
                data-z-columna-titulo="true">Diferencia</th> -->
                <!-- <th data-z-field="iconActive" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1"
                data-z-columna-titulo="true">Icono</th> -->

            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
      <hr>
    </div>
  </div>
</div>





  <!-- Footer -->
  <footer class="sticky-footer bg-white">
    <div class="container my-auto">
      <div class="copyright text-center my-auto">
        <span>Copyright &copy; Sistema Conciliación 2020</span>
      </div>
    </div>
  </footer>
  <!-- End of Footer -->

</div>